/*!**************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/styles/main.css ***!
  \**************************************************************************************************************/
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans);
/*!******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/styles/main.css (1) ***!
  \******************************************************************************************************************/
@import url(https://fonts.googleapis.com/css?family=Rubik);
/*!******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/styles/main.css (2) ***!
  \******************************************************************************************************************/
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1.5;
  color: #555;
  font-family: "Nunito Sans", sans-serif;
  /*overflow: hidden; /* Hide scrollbars */
}

h1 {
  margin: 0.67em 0;
  font-size: 2.5rem;
}

#boids-js {
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  background: #1488CC;
  display: flex;
  vertical-align: bottom;
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  z-index: 1;
  text-align: center;
  color: #fff;
  position: absolute;
  font-family: "Rubik", sans-serif;
  width: 80%;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.header .site-title {
  font-size: 35px;
  display: block;
  line-height: 1;
  color: #fff;
}

@media only screen and (min-width: 550px) {
  .header .site-title {
    margin: 0;
    font-size: 100px;
  }
}
.header .site-description {
  font-size: 20px;
  display: block;
  line-height: 1;
  color: #fff;
  margin-top: 10px;
}

@media only screen and (min-width: 550px) {
  .header .site-description {
    font-size: 40px;
  }
}
.header-links {
  margin: 10px;
}

.header-links .link {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  margin: 10px;
}

@media only screen and (min-width: 550px) {
  .header-links .link {
    font-size: 20px;
  }
}
.header-icons {
  display: flex;
  justify-content: center;
  text-align: center;
}

.down,
.header-icons .icon {
  color: #fff;
  text-align: center;
}

.header-icons .icon {
  height: 20px;
  padding: 10px;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: all 0.7s;
  width: 20px;
  font-size: 20px;
  margin: 5px;
}

.header-icons .icon:active,
.header-icons .icon:hover {
  color: #1488CC;
  background: #fff;
}

@media only screen and (min-width: 550px) {
  .header-icons .icon {
    width: 35px;
    height: 35px;
    font-size: 35px;
  }
}
.down {
  position: absolute;
  bottom: 25px;
  width: 100%;
  margin: 0 auto;
  display: block;
  font-size: 30px;
  cursor: pointer;
}

.down .icon {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  fill: #fff;
  -webkit-animation: pulse 1.3s infinite;
  animation: pulse 1.3s infinite;
}

.down .icon:active,
.down .icon:hover {
  color: #4b5664;
}

/* ----------FOOTER---------- */
.footer {
  background-color: rgb(20, 136, 204);
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.footer_text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  height: 20vh;
  background-color: white;
}

/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .footer_text {
    height: 30vh;
  }
}
